button.btn {
	vertical-align: unset !important;
	margin-top: 1rem;
}
body{
	background-image: url(/imagenes/pataFondo.png);
    background-size: cover;
}

html{
	height: 100%
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer{
    background-color: rgba(0, 0, 0, .3);
      grid-row-start: 2;
  grid-row-end: 3;
}


/* DERECHOS */
.derechos {
	color:#FFFFFF;
    padding: 20px 10px;
    background-color:#454545;
    display: flex;
    justify-content: space-around;
  }
.derechos p {
    font-size: 12px;
    color: white;
  }

/* FIN DERECHOS */

