*{  
    color:#f8f9fa;  
}

.vista-principal{
    background-image: url(https://www.tuotrodiario.com/images/025c-0f2d43853899-b429df8f59c3-1000/horizontal-1150/perros-callejeros.jpg);
    background-size:cover;
    padding: 2%;
}
h1{
    font-family: 'Asap', sans-serif;
    text-align: left;
    font-weight:900;
    
}

.menu {
    margin:1%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    color:#f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-registro{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: flex;
}
li .nav-item{
    justify-content: flex-end;
}
.menu-registro .nav-item a.nav-link.active{
    text-align: right;
    color:#f8f9fa;
    justify-content: flex-end;
}

.buscador{
    margin-bottom: 30%;
    margin-top: 10%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, .3);
    display: block;
    align-items: center;
    width: 50% !important;
    border-radius: 1%;
}
.buscador h2{
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}
.input-busqueda{
    display: block;
    align-items: center;
    width: 60% !important;
    margin-left: 10%;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 2%; 
}
button.btn.btn-outline-success.boton{
    background-color: rgb(5, 126, 85) !important;
    color: white;
    border-radius: 2%; 
    margin-bottom: 4%;
}
.footer{
    background-color: rgba(0, 0, 0, .3);
}
.carousel .slide{
    background-color: rgba(0, 0, 0, .3);
}
.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%!important;
    height: 50%!important;

}
.carousel.slide .carousel-indicators li{
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 100%;
}
.derechos {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-around;
  }
  .derechos p {
    font-size: 12px;
  }