 .vista-principal{
   	background-image: url(https://www.tuotrodiario.com/images/025c-0f2d43853899-b429df8f59c3-1000/horizontal-1150/perros-callejeros.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
    padding: 0.1px;
    
}
.vista-principal-index{
	background-image: url(https://www.tuotrodiario.com/images/025c-0f2d43853899-b429df8f59c3-1000/horizontal-1150/perros-callejeros.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
    padding: 0.1px;
}
.vista-principal.dark{
	background-image:unset;
}
h1{
    font-family: 'Asap', sans-serif;
    text-align: left;
    font-weight:900;
    margin:10%;
    justify-content: center;
    
}

/*INICIO MENU*/
.logo {
	border-radius: 35%;
	width:35%;
	margin:2%;
}
.efecto:before{
	 content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
.efecto:hover:before{
	width: 100%;
}
.navbar-collapse {
	justify-content:flex-end;
}
.nav-principal {
	background-color: rgba(0, 0, 0, .7);
	backdrop-filter: blur(10px)
	
}
.menu {
    margin:1%;
    background-color: rgba(0, 0, 0, .3);
    display: flex-wrap;
    color:#f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-registro{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: flex;
}
.menu-registro button{
    margin-left: 3px;
    margin-right: 3px;
}
li .nav-item{
    justify-content: flex-end;
}
.menu-registro .nav-item a.nav-link.active{
    text-align: right;
    color:#f8f9fa;
    justify-content: flex-end;
}


/* html, body, .vista-principal { */
/*   height: 100%; */
/* } */
body, .vista-principal {
  display: flex;
  flex-direction: column;
}

.footer{
    background-color: rgba(0, 0, 0, .3);
    flex-shrink: 0;
}

/*FIN MENU*/
.color-inicio{
	border-top:solid black;
	background-color:#595957;
}
/*INICIO BUSCADOR*/
.lupita{
	
	width:70%;
}
.buscador{
	margin-left:2%;
    margin-bottom: 1%;
    margin-top: 2%;
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(0, 0, 0, .3);
    display: block;
    align-items: center;
    width: 48% !important;
    border-radius: 1%;
}
.buscador h2{
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}



.input-busqueda{
	color: white;
/*     display: block; */
    align-items: center;
   	border-radius: 50px 50px 50px 50px;
	height: 60px;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 3%;
    padding-left:10%;
    padding-right:10%;
    border-color: #00bcd4;
    border-width: 2px;
    background-color: rgba(0,0,0,.5);
}

button.btn.btn-outline-success.boton {
    background-color: rgb(5, 126, 85) !important;
    margin-bottom: 4%;
    margin-right: 2%;
}
button.btn.btn-outline-success.boton a{
	color: white;
	
}

::placeholder{
	color: lightgray;
}

/* FIN BUSCADOR*/

/* Primary button color gray */
.btn-primary {
    background-color: rgba(0, 0, 0, .3) !important;
    border-color: rgba(0, 0, 0, .3) !important;
    border-radius: 2%; 
    transition: background-color 0.25s;
    outline: none;
    margin: 3px;

}


.btn-margin{
	margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #00bcd4 !important;
    border-color: #00bcd4 !important;
}


.footer{
    background-color: rgba(0, 0, 0, .3);
}

/*CAROUSEL*/
.h2 {
	background-color: rgba(0, 0, 0, .5);
	font-family: 'Asap', sans-serif;
	font-weight: 700 !important;
	text-align:center;
	color: white;
	margin:0!important;
	padding:2%;
}
.carousel-text{
	background-color: rgba(0, 0, 0, .5);
	font-family: 'Asap', sans-serif;
	font-weight: 700 !important;
	text-align:center;
	color: white;
	margin:0!important;
	padding:2%;
	font-size:2.5rem !important;
}
 .carousel-item{
    background-color: rgba(0, 0, 0, .5);
}
.carousel .slide {
    background-color: rgba(0, 0, 0, .5);
}
.carousel-item img{
	border-radius:3%;
    display: block;
    margin-bottom:4%;
    margin-left: auto;
    margin-right: auto;
    width: 70%!important;
    height: 70%!important;

}
.carousel.slide .carousel-indicators li{
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 100%;
}
/*FIN CAROUSEL*/

  
 /*INCIO MODAL*/
.modal {
    display: flex;
   background-color: rgba(0, 0, 0, .6);
   justify-content: center;
   align-items: center;
}

.modal-header{
    background-color: #454545;
}
.modal-body{
    background-color: #454545;
    color: black;
}
.modal-footer{
    background-color: #454545;
}
.iniciar {
    margin: 2px;
    background-color: rgba(0, 0, 0, 0)!important;
}
/*FIN MODAL*/

/* DERECHOS */
.derechos {
	color:#FFFFFF;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-around;
  }
.derechos p {
    font-size: 12px;
  }

/* FIN DERECHOS */
.switch {
	height:2rem;
	background: #343D5B;
	border-radius:1000px;
	border:none;
	position:relative;
	cursor: pointer;
	display:flex;
	outline: none;
}
.form-select2{
	 color: white !important;
	 background-color: transparent !important;
	 height: 3.7rem;
	 border-style: solid;
 	 border-width: 1px;
 	 border-color: white;
	 border-radius: 50px !important;
}

.form-select2 option {
	color: white !important;
    background-color: rgba(0, 0, 0, .9) !important; 
    
}
/* MODO NOCTURNO*/

.switch {
	height:2rem;
	background: #343D5B;
	border-radius:1000px;
	border:none;
	position:relative;
	cursor: pointer;
	display:flex;
	outline: none;
  align-self: center;
  
}
 .nigth{ 
 	width: 30px; 
 	height: 30px;
 	line-height: 30px;
 	display:block; 
	background:none; 
 	color:#fff; 
 } 
.switch::after {
	content: "";
	display:block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #F1F1F1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: .3s ease all;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);		
}
.switch.active{
		background: orange;
		color: #000;
}
.switch.active::after {
	right:0;
	left:unset;
}
.dark {
	/*background-color: #2E3039!important;*/
	background-color: rgba(0, 0, 0, .7);
	
}
.saludo {
	margin: 2px;
   background-color: rgba(0, 0, 0, .6);
   justify-content: center;
   align-items: center;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.7);	
}
/* BOTON SUBIR*/
.subir {
  display: inline-block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.9;
  z-index:3;
}
.subir img {
  width: 3rem;
  height: 3rem;
  
}
.subir .subir:hover {
  opacity: 1;
  color: green;
}
/* TITULO PRINCIPAL*/
.titulo-principal{
	background-color: rgba(0, 0, 0, .7);
	font-family: 'Asap', sans-serif;
    text-align: left;
    font-weight:900;
    margin:10%;
    justify-content: center;
    color:white;
    margin-left:5rem;
    margin-right:50rem;	
}
/* ERROR */
.error-imagen{
	width:30%;
	height:30%;
}
.error{
	display:flex;	
}
/*PASSWORD*/
.password{
	background-image: url(/imagenes/pataFondo.png);
    background-size: cover;
}
/*MIS MASCOTAS*/
.vista-principal-mascotas {
	background-image: url(https://www.tuotrodiario.com/images/025c-0f2d43853899-b429df8f59c3-1000/horizontal-1150/perros-callejeros.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0.1px;
}  
.card-masc{
	  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

.card-masc:hover{
  background-color: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px; 
  transform:scale(1.05)
  
}
