body{
	background-color: #454545;
	color: rgb(253, 251, 247);
	margin: 1%;
	padding: 0.1px;
	background-image: url(/imagenes/pataFondo.png);
    background-size: cover;

}
 

/* html, body { */
/*   height: 100%; */
/* } */
body {
  display: flex;
  flex-direction: column;
}

.footer{
    background-color: rgba(0, 0, 0, .3);
    flex-shrink: 0;
}

/*ITEMS*/

h3{
	width: 50%;
	margin: auto;
	border-radius: 2em;
	justify-content: space-between;
}

h3 > * {
	display: block;
    margin-top: 30px;
    justify-content: space-between;
    background-color:  #454545;;

}

h4 {
	color:#f8f9fa;
}


.card-text, .card-link, .list-group-item{
	font-size: 16px;
	overflow: hidden;
	justify-content: space-between;
}




/*INICIO MENU*/
.logo {
	border-radius: 35%;
	width:35%;
	margin:2%;
}
.navbar-collapse {
	justify-content:flex-end;
}
.nav-principal {
	background-color: rgba(0, 0, 0, .7);
	backdrop-filter: blur(10px)
	
}
.menu {
    margin:1%;
    background-color: rgba(0, 0, 0, .3);
    display: flex-wrap;
    color:#f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-registro{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: flex;
}
.menu-registro button{
    margin-left: 3px;
    margin-right: 3px;
}
li .nav-item{
    justify-content: flex-end;
}
.menu-registro .nav-item a.nav-link.active{
    text-align: right;
    color:#f8f9fa;
    justify-content: flex-end;
}
/*FIN MENU*/



h5{
	margin-bottom: 30%;
    margin-top: 10%;
    margin-left: 2%;
    background-color: #454545;
    color: aliceblue;
    display: block;
    align-items: center;
    width: 50% !important;
    border-radius: 1%;
    justify-content: flex-end;
}

button.btn.btn-outline-success.boton{
    background-color: rgb(5, 126, 85) !important;
    color: white;
    border-radius: 2%; 
    margin-bottom: 4%;
    margin-left: 4%;
}


.background-text{
	margin-top: 0%;
	background-color: rgba(0, 0, 0, .3);
	
}

.publicacion{
	    color:#f8f9fa;
	    font-size: 22px;
}

.flex-box {
  display:flex;
  align-items: center;
  justify-content:space-between;
  	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 1%;
	padding-left: 1%;
}

/* DERECHOS */
.derechos {
	color:#FFFFFF;
    padding: 20px 10px;
    background-color:#454545;
    display: flex;
    justify-content: space-around;
  }
.derechos p {
    font-size: 12px;
  }

/* FIN DERECHOS */
.card-img-top {
    width: 100%;
    object-fit: cover;
}
.card-group {
	width: 200vh;
}

.modal-header{
    background-color: #454545;
}
.modal-body{
    background-color: #454545;
    color: black;
}
.modal-footer{
    background-color: #454545;
}


#texto-modal{
		color:#f8f9fa;
}


.rounded-top-right-20 {
  border-top-right-radius: 20px!important;
}

.rounded-bottom-20 {
  border-bottom-left-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.card {
	background: #FFFFFF;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

.card:hover {
	background-color: #fff;
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	margin-top: 50px;
	transform: scale(1.05)
}
/* MODO NOCTURNO */
.switch {
	height:2rem;
	background: #343D5B;
	border-radius:1000px;
	border:none;
	position:relative;
	cursor: pointer;
	display:flex;
	outline: none;
	
  align-self: center;
  
}
 .nigth{ 
 	width: 30px; 
 	height: 30px;
 	line-height: 30px;
 	display:block; 
	background:none; 
 	color:#fff; 
 } 
.switch::after {
	content: "";
	display:block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #F1F1F1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: .3s ease all;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);		
}
.switch.active{
		background: orange;
		color: #000;
}
.switch.active::after {
	right:0;
	left:unset;
}
.dark {
	background-color: #2E3039!important;
	background-image: unset !important;
	
}