body {
	background-color: #454545;
	color: rgb(253, 251, 247);
	margin: 1%;
	background-image: url(/imagenes/pataFondo.png);
    background-size: cover;
    justify-content: space-between;
}
a.btn.boton {
	vertical-align: unset !important;
}
.mascotas {
	display:flex;
	justify-content:center;
	text-align: "center";
	 background-color: rgba(0, 0, 0, .3);
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.footer{
    background-color: rgba(0, 0, 0, .3);
    flex-shrink: 0;
}
