body {
	background-image: url(https://media.diariouno.com.ar/p/f54249878a58173518d1bc7ec8f5814e/adjuntos/298/imagenes/008/806/0008806731/1200x0/smart/perro-callejerojpg.jpg);
	color: rgb(253, 251, 247);
	margin: 1%;
	padding: 0.1px;
	background-size:cover;
	
}
.vista-principal-perfil{
   	background-color:#2E3039;;
    padding: 20px;
    
}
.formulario {
	display:flex;
	justify-content: flex-end;
	flex-direction:column;
	width:70%;
	
}
/*INICIO MENU*/
.logo {
	border-radius: 35%;
}
.menu {
    margin:1%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    color:#f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-registro{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: flex;
}
.menu-registro button{
    margin-left: 3px;
    margin-right: 3px;
}
li .nav-item{
    justify-content: flex-end;
}
.menu-registro .nav-item a.nav-link.active{
    text-align: right;
    color:#f8f9fa;
    justify-content: flex-end;
}
/*FIN MENU*/
h2, h3, h4 {
	color: rgb(253, 251, 247);
	width: 50%;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}



h2{
	border-bottom: solid 3px;
	margin-top: 15px;
	width: 58%;
}

h3{
	text-decoration: underline;
}

nav li .nav-item {
	justify-content: flex-end;
}

.info{
	text-align: center;
	background-color: #524f45bd;
    border: solid;
    width: 600px;
    padding: 20px;
    margin-left: 26%;
    margin-right: 26%;
}

.formulario-registro {
	background-color: rgba(12, 4, 4, 0);
	margin: 0 auto;
	width: 30%;
	padding: 10px;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	border: 2px solid white;
}
.formulario-registro .alert{
	text-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	align-items: center;
	
}
.formulario-registro div label {
	display: flex;
	padding: 2%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formulario-registro div label input {
	padding: 2%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* DERECHOS */
.derechos {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-around;
  }
.derechos p {
    font-size: 12px;
  }
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.back:hover {
    color: purple;
    cursor: pointer;
    
}

/* FIN DERECHOS */

html, body, .vista-principal-perfil {
  height: 100%;
}
body, .vista-principal-perfil {
  display: flex;
  flex-direction: column;
}

.footer{
    background-color: rgba(0, 0, 0, .3);
    flex-shrink: 0;
}
