<head>
	<meta charset="UTF-8">
</head>
<form class="form d-flex" th:action="@{/mascota/buscar}" method="GET" th:fragment="buscador">
				<div class="row-fluid d-flex align-items-center" style="--bs-gutter-x: 0rem;">
				<div class="col">			
						<select class="form-select2 mb-1 me-3 text-center"  aria-label=".form-select-sm example" name="seleccion" id="seleccion" required>
                            <option selected value="todas">Todas las mascotas</option>
                            <option value="encontradas">Mascotas encontradas</option>
                            <option value="perdidas">Mascotas perdidas</option>
                        </select>                       
                        </div>
                        <div class="col">
						<input type="search" class="input-busqueda text-light text-center me-5 " placeholder="Buscar por raza, zona, etc" aria-label="Search" name="atributo"
							th:value="${atributo}">
						</div>
				</div>
			</form>