
<head><meta charset="UTF-8"></head>
<header th:if="${session.clientesession == null}">
		<div class="px-3 py-2 nav-principal text-dark opacity-45">
			<div class="container">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/"
						class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
						<img class="logo" src="/imagenes/logo.png" alt="">
					</a>

					<ul
						class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small text-white">
						<li><a href="/../"class="nav-link text-light text-center"> 
							<img class="bi d-block mx-auto mb-1 " width="44" height="44" src="/imagenes/home1.png" alt=""> 
									 Inicio
						</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		
	</header>
	<header th:unless="${session.clientesession == null}">
		<div class="px-3 py-2 nav-principal text-dark opacity-45">
			<div class="container">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/"
						class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
						<img class="logo" src="/imagenes/logo.png" alt="">
					</a>

					<ul
						class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small text-light">
						<li><a href="/../" class="nav-link text-light text-center"> 
							<img class="bi d-block mx-auto mb-1 " width="44" height="44" src="/imagenes/home1.png" alt=""> 
									 Inicio
						</a></li>
						<li><a href="#" class="nav-link text-light text-center"> 
									<img class="bi d-block mx-auto mb-1 " width="44" height="44" src="/imagenes/mascota1.png" alt=""> 
									Mis Mascotas
						</a></li>
						<li><a href="#" class="nav-link text-light text-center"> 
						 	<img class="bi d-block mx-auto mb-1 " width="44" height="44" src="/imagenes/perfil2.png" alt="" th:text="${session.clientesession.nombre}">
						 	</a></li>
					</ul>
				</div>
			</div>
		</div>
		</header>