		<head>
	<meta charset="UTF-8">
</head>
<tituloPrincipal class="buscador rounded-search text-light">
	
	<h1 style="text-align: center;">Bienvenidos a Patitas Perdidas</h1>
	<!--<h4 style="text-align: center;">Sabemos que hoy en dia ellos son mas que mascotas, son compañeros, hijos, hermanos... Son un integrante mas de la familia.</h4>
	<h4 style="text-align: center;">Por eso estamos acá para ofrecer todo lo que esta a nuestro alcance para ayudarte a encontrar a tu mejor amigo</h4>
	 
	<h2 style="text-align: center;">Encontrá tu mascota de la forma más fácil, nosotros te ayudamos</h2>
	<h4 style="text-align: center;">Solo tenes que registrarte y en la seccion "Mis mascotas" tenes la opcion de subir el aviso de tu amiguito. ¡Asegurate de poner una buena foto!</h4>
	<h4 style="text-align: center;">A demas, podes chequear minuto a minuto los avisos de las mascotas que buscan a su dueño en la seccion "Mascotas encontradas"</h4>
	<h2 style="text-align: center;"> ¡No estás solo, somos miles!</h2> -->
</tituloPrincipal>
