<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es"
>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patitas perdidas</title>
<link href="/index.css" rel="stylesheet">
<link rel="icon" href="/imagenes/favicon.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<link
	href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
	rel="stylesheet">
<link href="/headers.css" rel="stylesheet">

<link rel="icon" href="/imagenes/favicon.ico" type="image/x-icon">
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link href="/dashboard.css" rel="stylesheet">

</head>
<body>
		
		<!-- HEADER -->
			<header th:replace = "/fragments/header :: header"></header>
		<!-- FIN HEADER -->

		
		<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Categorias</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/dashboard"><img src="/imagenes/homedash.png" width="24" height="24">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard/usuarios"><img src="/imagenes/users.png" width="24" height="24">
             Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/mascotas"><img src="/imagenes/pet.png" width="24" height="24">
              Mascotas
            </a>
          </li>
          
        </ul>

        
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Usuarios</h1>
<!--         <div class="btn-toolbar mb-2 mb-md-0"> -->
<!--           <div class="btn-group me-2"> -->
<!--             <button type="button" class="btn btn-sm btn-outline-secondary">Share</button> -->
<!--             <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
<!--           </div> -->
<!--           <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"> -->
<!--             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> -->
<!--             This week -->
<!--           </button> -->
<!--         </div> -->
      </div>

      <h2>Usuarios</h2>
      <form class="form" th:action="@{/dashboard/usuarios}" method="GET">
      	<input class="form-control form-control-dark w-100 mt-2 mb-2" name="search" type="text" placeholder="Search" aria-label="Search">
      </form>
      <div class="table-responsive">
      
        <table class="table table-dark table-striped text-center table-hover">
          <thead>
            <tr class="table-dark">
              <th scope="col">Nombre</th>
              <th scope="col">Telefono</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Mascotas</th>
              <th scope="col">Cant Mascotas</th>
              <th scope="col">Rol</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light align-middle" th:each="user : ${usuarios}" th:object="${user}">
              <td th:text="${user.nombre}"></td>
              <td th:text="${user.telefono}"></td>
              <td th:text="${user.mail}"></td>
<!--               <td th:text="${user.mascotas.size()}"></td> -->
              <td headers="Mascotas">
              <ul style="list-style-type: none;">
              <a class="masc-link" th:each="mascota : *{mascotas}" href="#" data-toggle="modal" th:attr="data-target=${'#masInfo'+mascota.id}">
              <li th:text="${mascota?.alta == true} ? ${mascota?.nombre} : ' '"></li></a>
              <div class="modal fade"  th:attr="id=${'masInfo'+mascota.id}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true" th:each="mascota:*{mascotas}"  >
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content" style="box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.7);">
					<div class="modal-header">
						<h5 class="modal-title text-light" id="exampleModalLabel">Más Info</h5>
					</div>
					
						<div class="modal-body">
						
						<div class="carousel row ">
      						<div class="col-md-6"><img alt="" th:src="@{'data:image/jpeg;base64,'+${mascota?.image}}"class="card-img-top" style="box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.7);"></div>
      						<div class="col-md-6 ms-auto"> 
      						<div class = "list-group">
	      						<p class="list-group-item rounded-top-right-20 rounded-bottom-20">Nombre: <span th:text="${mascota?.nombre}"></span></p>
	      						<p class="list-group-item rounded-top-right-20 rounded-bottom-20">Descripcion: <span th:text="${mascota?.descripcion}"></span></p>
	    						<p class="list-group-item rounded-top-right-20 rounded-bottom-20">Especie: <span th:text="${mascota?.especie}"></span></p>
	    						<p class="list-group-item rounded-top-right-20 rounded-bottom-20">Raza: <span th:text="${mascota?.raza}"></span></p>
	   							<p class="list-group-item rounded-top-right-20 rounded-bottom-20">Color: <span th:text="${mascota?.color}"></span></p>
	   						</div>	   					
    					</div>						
						</div>
						<div class="row">
						<h4>Contacta con el usuario que publico esta mascota:</h4>
	   							<p id = "texto-modal"><strong>Nombre de usuario:</strong> <span th:text="${mascota.persona?.nombre}"></span></p>
	   							<p id = "texto-modal"><strong>Email: </strong><span th:text="${mascota.persona?.mail}"></span></p>
	   							<p id = "texto-modal"><strong>Telefono/Cel: </strong><span th:text="${mascota.persona?.telefono}"></span></p>
	   							</div>
	   							</div>

						<div class="modal-footer">
							<a class="btn btn-info" th:href="@{/dashboard/mascota/editar(id=__${mascota.id}__)}" role="button">Editar</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>							
						</div>
					
				</div>
			</div>
		</div>
              </ul>
              </td>
              <td th:text="${user.getNumeroMascotasActivas}"></td>
              <td th:text="${user.rol}"></td>
              <td><a class="btn btn-info" th:href="@{/dashboard/usuarios/editar(id=__${user.id}__)}" role="button">Editar</a></td>
              <td><a class="btn btn-danger" th:href="@{/dashboard/usuarios/baja(id=__${user.id}__)}" role="button">Eliminar</a></td>
              
            </tr>
            
          </tbody>
          
        </table>
        
      </div>
    </main>
  </div>
</div>
<!-- <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script> -->
<!-- <script src="dashboard.js"></script> -->

		
		
		<!-- Fin Carousel -->
	<footer th:replace= "/fragments/footer :: footer"></footer>
	<script src="index.js"></script>
	<script src="/index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous">
    </script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous">
    </script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<script src="./js/wow.min.js">
    </script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>