<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error Page</title>
<link href="index.css" rel="stylesheet">
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<div class="jumbotron alert-danger error">
	<img class="error-imagen" alt="" src="/imagenes/oops.png">
    <div>
    <h1>Oops... Error al cargar la vista</h1>
    <h2 style="margin-left:100px;"th:text="${status + ' ' + error}"></h2>
    </div>
</div>
	
</div>
</body>
</html>