<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/editar-perfil.css">
    <link rel="icon" href="/imagenes/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Editar Perfil | Patitas perdidas</title>
</head>

<body>
		<!-- MENU -->
	<nav class="navbar navbar-expand-lg navbar-light menu">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand m-2" href="#"><img class="col-md-5 logo"
				src="/imagenes/logo.png" alt=""
			></a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<h1><a class="nav-link text-light" href="/../">Patitas Perdidas</a></h1>
			</div>
		</nav>
	<!-- FIN MENU -->
	<section class="cabecera">
    <h2>Complete los siguientes campos para editar su perfil</h2>
    </section>

  <form class="formulario-registro text-center form-gris" role="form" th:action="@{/persona/modificar/{id}(id=${usuario.id})}" method="POST">
        
     	<div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" th:value="${usuario.nombre}" placeholder="Nombre" name="nombre" maxlength="255" required>
				<label for="floatingInput">Nombre</label>            
        </div>
        <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" th:value="${usuario.mail}" placeholder="name@example.com" name="mail" maxlength="255" required>
                <label for="floatingInput">Email</label>
            </div>
			 
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" th:value="${usuario.telefono}" placeholder="Telefono/Celular" name="telefono" maxlength="12" required>
            	<label for="floatingInput">Telefono/Celular</label>
            </div>
			 <div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="Ingrese contraseña" name="clave" maxlength="255" required>
           		<label for="floatingInput">Contraseña</label>
            </div>

            <button class="btn btn-primary m-2" type="submit">
            Guardar</button>
            <a class="btn btn-danger m-1" role="button" th:href="@{/persona/perfil/{id}(id=${usuario.id})}">Volver</a>
        </div>
        <div class="alert alert-primary" role="alert" th:text="${exito}" th:if="${exito}"></div>
        <!-- https://knasmueller.net/how-to-set-a-flash-message-in-spring-boot-with-thymeleaf -->
        <!-- https://programandoointentandolo.com/2019/03/spring-boot-validacion-spring-mvc-y-thymeleaf.html -->
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </form>
    <p></p>
    <footer class="footer">
        <section class="derechos">
            <p> © 2021 Patitas Perdidas. Todos los derechos reservados.</p>
            <p> Desarrollado por César Gómez, Tomas Petitti, David Gimenez,
                Juan Pablo Ayala, Nuria Romeu,
                Miranda Candela Sandoval Altuna,Tomas Vergara, Fabian Sassola y Facundo Ferreira Da Camara. </p>
        </section>
        <span>
            <p class="mr-10">DISEÑO Y DESARROLLO WEB.</p>
        </span>
    </footer>
</body>

</html>