<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
    <head> <title>Forgot Password</title> </head>
    <body>
            <form action="#" th:action="@{persona/forgot-password}" th:object="${user}" method="post">
                <table>
                    <tr>
                        <td><label for="mail">Email</label></td>
                        <td><input th:field="*{mail}" type="text" name="mail"></input></td>
                    </tr>
                    <tr>
                        <td><input type="reset" value="Clear"/></td>
                        <td><input type="submit" value="Reset Password"></input></td>
                    </tr>
                </table>
            </form>
    </body>
</html>