<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="registro.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Registro | Patitas perdidas</title>
</head>
<body>
    <h2>Hola, para que puedas subir los datos de tu perro perdido necesitamos que te registres</h2>
    <form class="formulario-registro" novalidate>
        <div>

            <label for="">Nombre</label>
            <input type="text" placeholder="Nombre" required>
            </div>
            <div>
                <label for="">Apellido</label>
                <input type="text" placeholder="Apellido" required>
            </div>
            <div>
                <label for="">Nombre de la mascota</label>
            <input type="text" placeholder="Nombre de la mascota" required>
            </div>
            
            <div>
                <label for="">Nombre de usuario</label>
                <input type="text" placeholder="Nombre de usuario" required>
            </div>
            
            <div>
                <label for="">Contraseña</label>
                <input type="text" placeholder="contraseña" required>
            </div>
            
            <div>
                <select class="barrio">
                <option selected > <p class="font-weight-bold">Barrio</p> </option>
                <option value="1">Arroyito</option>
                <option value="2">Pichincha</option>
                <option value="3">Mártin</option>
                <option value="4">Agote</option>
                <option value="5">Alberdi</option>
                <option value="6">La ceramica</option>
                <option value="7">Rucci</option>
                <option value="8">Parque field</option>
                <option value="9">Ludueña</option>
                <option value="10">Lisandro de la torre</option>
                <option value="11">Las malvinas</option>
                <option value="12">Celedonio escalada</option>
                </select>
            </div>
            <div>
                <label for="">Foto de perfil</label>
                <input type="text" placeholder="subir foto" required>
            </div>
            <div>
                <label for="">Cargar Foto de mascota perdida</label>
                <input type="text" placeholder="subir foto">
            </div>
            <button class="btn btn-primary m-2" type="submit">Registrarse</button>
        	</div>
    </form>
    <footer class="footer">
        <section class="derechos">
            <p> © 2021 Patitas Perdidas. Todos los derechos reservados.</p>
            <p>  Desarrollado por César Gómez, Tomas Petitti, David Gimenez, 
                Juan Pablo Ayala, Nuria Romeu, 
                Miranda Candela Sandoval Altuna,Tomas Vergara, Fabian Sassola y Facundo Ferreira Da Camara. </p> 
    </section> 
    <span ><p class="mr-10">DISEÑO Y DESARROLLO WEB.</p></span>
    </footer>
</body>
</html>