<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Registro | Patitas perdidas</title>
</head>
<body>
    <form class="formulario-registro" novalidate>
        <div>

            <label for="">Nombre</label>
            <input type="text" placeholder="Nombre">
            </div>
            <label for="">Apellido</label>
            <input type="text" placeholder="Apellido">
            <div>
                <label for="">Nombre de la mascota</label>
            <input type="text" placeholder="Nombre de la mascota">
            </div>
            
            <div>
                <label for="">Nombre de usuario</label>
                <input type="text" placeholder="Nombre de usuario">
            </div>
            
            <div>
                <label for="">Contraseña</label>
                <input type="text" placeholder="contraseña">
            </div>
            
            <div>
                <select class="custom-select custom-select-lg mb-3">
                <option selected>Barrio</option>
                <option value="1">Arroyito</option>
                <option value="2">Pichincha</option>
                <option value="3">Mártin</option>
                <option value="4">Agote</option>
                <option value="5">Alberdi</option>
                <option value="6">La ceramica</option>
                <option value="7">Rucci</option>
                <option value="8">Parque field</option>
                <option value="9">Ludueña</option>
                <option value="10">Lisandro de la torre</option>
                <option value="11">Las malvinas</option>
                <option value="12">Celedonio escalada</option>
                
                </select>
            </div>
            
            
            <div>
                <label for="">Foto de perfil</label>
                <input type="text" placeholder="subir foto">
            </div>
            <div>
                <label for="">Cargar Foto de mascota perdida</label>
                <input type="text" placeholder="subir foto">
            </div>
            
            <button class="btn btn-primary" type="submit">Registrarse</button>

        </div>
    </form>
    
</body>
</html>