<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
    <head> <title>Reset Password</title> </head>
    <body>
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/persona/confirm-reset/persona/reset-password}" th:object="${user}" method="post">
                <table>
                    <tr>
                        <td><label for="mail">Email</label></td>
                        <td><input th:field="*{mail}" type="text" name="mail" readonly></input></td>
                    </tr>
                    <tr>
                        <td><label for="clave">Password</label></td>
                        <td><input th:field="*{clave}" type="password" name="clave"></input></td>
                    </tr>
                    <tr>
                        <td><input type="reset" value="Clear"/></td>
                        <td><input type="submit" value="Submit"></input></td>
                    </tr>
                </table>
            </form>
    </body>
</html>